.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 16px;

    h1 {
        align-self: center;
        font-weight: 700;
    }
}

.logo {
    width: 128px;
    height: 128px;
    align-self: center;
}
